{% extends 'first.html' %} {% block content %}
<h2>Login form</h2>
<div
  class="container"
  style="
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  "
>
  <div
    class="card shadow-lg p-2 mb-3 bg-body-tertiary rounded"
    style="width: fit-content; height: fit-content; margin: 2rem"
  >
    <form action="" method="post" style="padding: 1.3rem">
      {% csrf_token %}
      <div
        style="
          padding-bottom: 1.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 1.2rem;
        "
      >
        {{form}}
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
  <p>
    Dont have account
    <a
      href="{% url 'registration' %}"
      class="btn btn-warning"
      style="color: azure"
      >Register</a
    >
  </p>
</div>
{% endblock %}
